<h3>Movies you want to watch</h3>
{% if movie_list %}
    <ul>
    {% for movie in movie_list %}
        {% if not movie.have_watched %}
        <li><a href="/{{ movie.id }}/">{{ movie.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>There are no movies you want to watch.</p>
{% endif %}

<h3>Movies you have watched</h3>
{% if movie_list %}
    <ul>
    {% for movie in movie_list %}
        {% if movie.have_watched %}
        <li><a href="/{{ movie.id }}/">{{ movie.title }}</a></li>
        {% endif %}
    {% endfor %}
    </ul>
{% else %}
    <p>There are no movies you want to watch.</p>
{% endif %}