<style>
    .content {
        margin:0px;
        padding:0px;
    }

    .left {
        width: 50%;
        height: 100%;
        margin:0px;
        padding:0px;
        float: left;
    }

    .right {
        width: 50%;
        height: 100%;
        margin:0px;
        padding:0px;
        float: left;
    }

    hr {
        height: 1px;
        color: black;
        width: 50%;
    }

    body {
        margin: 0px;
        padding: 0px;
    }

    h3 {
        font-size: 32px;
        text-align: center;
    }

    a {
        font-size: 18px;
    }

    li {
        border: 1px solid black;
        width: 256px;
        height: 512px;
        padding: 8px;
        list-style-type: none;
        margin-bottom: 8px;
        margin-right: 8px;
        float: left;
        background-color: white;
    }

    img {
        margin-top: 8px;
        width: 256px;
        height: 384px;
        border: 1px solid black;
    }

    .form {
        width: 50%;
        margin: auto;
    }

    .label {
        margin-top: 8px;
    }

    input[type=text] {
        width: 100%;
        padding: 6px 10px;
        margin: 8px 0;
        box-sizing: border-box;
    }
    
    button {
        background-color: #04AA6D;
        border: none;
        color: white;
        padding: 8px 16px;
        text-decoration: none;
        margin: 8px 0px;
        cursor: pointer;
        width: 100%;
    }
</style>

<div class="content">
    <div class="left">
        <h3>Movies you want to watch</h3>
        <div class="form">
            <form action="" method="POST">
                {% csrf_token %}
                <div class="label">
                    <label for="name">Name:</label>
                </div>
                <input type="text" id="name" name="name"><br>
                <div class="label">
                    <label for="url">Img URL:</label>
                </div>
                <input type="text" id="url" name="url"><br>
                <button type="submit">ADD MOVIE</button>
            </form>
        </div>
        <hr>
        {% if movie_list %}
            <ul>
            {% for movie in movie_list %}
                {% if not movie.have_watched %}
                <li><center><a href="/{{ movie.id }}/">{{ movie.title }}</a></center><img src="{{ movie.img }}"/></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>There are no movies you want to watch.</p>
        {% endif %}
    </div>

    <div class="right">
        <h3>Movies you have watched</h3>
        <hr>
        {% if movie_list %}
            <ul>
            {% for movie in movie_list %}
                {% if movie.have_watched %}
                <li><center><a href="/{{ movie.id }}/">{{ movie.title }}</a><span>: {{ movie.rating }}/10</span></center><img src="{{ movie.img }}"/><p>{{ movie.review }}...</p></li>
                {% endif %}
            {% endfor %}
            </ul>
        {% else %}
            <p>There are no movies you want to watch.</p>
        {% endif %}
    </div>
</div>